.navbarItem {
  padding: 5px;
  border-bottom: 4px solid transparent;
  transition: 0.3s ease-in-out;
  &:hover {
    border-bottom: 4px solid #85a2b6;
  }
  &__link {
    color: #85a2b6;
    text-decoration: none;
  }
}