.logo {
  position: relative;
  display: block;
  max-width: 200px;
}
.logo__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 992px) {
  .logo {
    width: 30%;
    max-width: initial;
  }
}
@media (max-width: 768px) {
  // .logo {
  //   margin-top: 1rem;
  // }
}