@import './variables.module.scss';

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.containerFluid {
  padding: 0;
  width: 100%;
  height: $compHeight;
  max-height: $compHeight;
  min-height: $compHeight;
}