$bg_primary: #303841;
$bg_dark: #2d3741;
$bg_light: #485462;
$bg_secondary: #3a4552;

$primary: #ff9922;
$secondary: #ee0000;
$text_primary: #abaeb3;
$text_hover: #abaeb3;

$white: #fff;

$gradient: linear-gradient(135deg, #2d3741 0%, #485462 100%,);

$compHeight: calc(100vh - 60px - 160px);

