@import '../../Shared/variables.module.scss';

.switch__input {
  display: none;
}
.switch__label {
  position: relative;
  display: inline-block;
  min-width: 112px;
  margin: 16px;
  padding: 16px 0 16px 44px;
  text-align: left;
  cursor: pointer;
  color: $white;
}
.switch__label:before, .switch__label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s ease;
}
.switch__label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #9E9E9E;
  border-radius: 8px;
}
.switch__label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch__label .toggle__on {
  display: none;
}
.switch__label .toggle__off {
  display: inline-block;
}
.switch__input:checked + .switch__label:before {
  background-color: $bg_light;
}
.switch__input:checked + .switch__label:after {
  background-color: $white;
  transform: translate(80%, -50%);
}
.switch__input:checked + .switch__label .toggle__on {
  display: inline-block;
}
.switch__input:checked + .switch__label .toggle__off {
  display: none;
}
