@import '../../Shared/variables.module.scss';

.searchBar {
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  padding: 5px 10px;
  min-width: 110px;
  background-color: $bg_light;
  height: 30px;
  &__input {
    display: block;
    width: 80%;
    margin-right: 5px;
    border: none;
    order: 1;
    background: transparent;
    color: $white;
    font-size: 1.2rem;
  }
  &__button {
    order: 2;
    width: 20%;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    color: $text_primary;
    &:hover > * {
      transform: scale(1.2);
    }
  }
}

@media (max-width: 992px) {
  .searchBar {
    width: 30%;
  }
}