.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0 5px;
  padding: 0;
}

@media (max-width: 992px) {
  .navbar {
    padding: 0;
    height: 0;
    opacity: 0;
    transition: height 0.3s ease-in-out, opacity 0.7s ease-in-out;
    > * {
      display: none;
    }
    &.toggled {
      height: 50px;
      opacity: 1;
      > * {
        display: list-item;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 0;
    height: 0;
    opacity: 0;
    transition: height 0.3s ease-in-out, opacity 0.7s ease-in-out;
    > * {
      display: none;
    }
    &.toggled {
      height: 230px;
      opacity: 1;
      > * {
        display: list-item;
      }
    }
  }
}
